<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Report Found Item</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            Lost & Found
        </div>

        <div class="nav-links">
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('main.lost_items') }}">Lost Items</a>
            <a href="{{ url_for('main.found_items') }}">Found Items</a>
        </div>

    </nav>

    <section class="hero">

        <h1>Report a Found Item</h1>

        <p>
            Help return an item to its owner.
        </p>

    </section>

</body>

</html>