<!DOCTYPE html>
<html>
<head>
    <title>Found Items</title>
</head>

<body>

    <h1>Found Items</h1>

    {% if items %}

        {% for item in items %}

            <div>
                <h2>{{ item.name }}</h2>

                <p>Category: {{ item.category }}</p>

                <p>Location: {{ item.location }}</p>

                <p>Description: {{ item.description }}</p>

                <p>Reported by: {{ item.reporter.name }}</p>    <!--  SQLAlchemy gives you the corresponding User.name --> 
            </div>

            <hr>

        {% endfor %}

    {% else %}

        <p>No found items have been reported yet.</p>

    {% endif %}

</body>
</html>