{% extends "base.html" %}

{% block title %}Home - Campus Lost & Found{% endblock %}

{% block content %}

    <h1>Campus Lost & Found</h1>

    {% if current_user.is_authenticated %}

        <h2>Welcome, {{ current_user.name }}!</h2>

        <p>Find lost items or report something you lost or found.</p>

        <a href="{{ url_for('main.report') }}">
            Report Lost / Found Item
        </a>

        <br><br>

        <a href="{{ url_for('main.lost_items') }}">
            View Lost Items
        </a>

        <br><br>

        <a href="{{ url_for('main.found_items') }}">
            View Found Items
        </a>

        <br><br>

        <a href="{{ url_for('main.my_claims') }}">
            View Claim Requests
        </a>

    {% else %}

        <h2>Welcome!</h2>

        <p>Please login or register to use the Lost & Found system.</p>

        <a href="{{ url_for('main.login') }}">Login</a>

        <br><br>

        <a href="{{ url_for('main.register') }}">Register</a>

    {% endif %}

{% endblock %}