<!DOCTYPE html>
<html>
<head>
    <title>Item Details</title>
</head>
<body>

    <h1>Item Details</h1>

    <h2>{{ item.name }}</h2>

    <p>
        <strong>Type:</strong>
        {{ item.type }}
    </p>

    <p>
        <strong>Category:</strong>
        {{ item.category }}
    </p>

    <p>
        <strong>Location:</strong>
        {{ item.location }}
    </p>

    <p>
        <strong>Description:</strong>
        {{ item.description }}
    </p>

    <p>
        <strong>Status:</strong>
        {{ item.status }}
    </p>

    <p>
        <strong>Reported by:</strong>
        {{ item.reporter.name }}
    </p>

    <a href="{{ url_for('main.lost_items') }}">
        Back to Lost Items
    </a>
    <br>
    <a href="{{ url_for('main.found_items') }}">
        Back to Found Items
    </a>
    <br>
{% if current_user.is_authenticated and current_user.id == item.user_id %}

    <a href="{{ url_for('main.edit_item', item_id=item.id) }}">
        Edit Item
    </a>
    <br>

<form method="POST"
      action="{{ url_for('main.delete_item', item_id=item.id) }}"
      style="display:inline;">

    <button type="submit">
        Delete Item
    </button>
    
</form>
    {% endif %}
    <br>

    
    {% if current_user.is_authenticated
      and current_user.id != item.user_id
      and item.status == "active" %}

  {% if item.type == "lost" %}

        <p>
            Did you find this item?
        </p>

        <form method="POST"
              action="{{ url_for('main.claim_item', item_id=item.id) }}">

            <button type="submit">
                I Found This Item
            </button>

        </form>

    {% elif item.type == "found" %}

        <p>
            Is this your lost item?
        </p>

        <form method="POST"
              action="{{ url_for('main.claim_item', item_id=item.id) }}">

            <button type="submit">
                This Is My Item
            </button>

        </form>

    {% endif %}

{% endif %}




</body>
</html>