{% extends "base.html" %}

{% block title %}Lost Items{% endblock %}

{% block content %}

    <h1>Lost Items</h1>

    <form method="GET">

        <input
            type="text"
            name="search"
            placeholder="Search item"
            value="{{ search }}"
        >

        <select name="category">

            <option value="">All Categories</option>

            <option value="electronics"
                {% if category == "electronics" %}selected{% endif %}>
                Electronics
            </option>

            <option value="bags"
                {% if category == "bags" %}selected{% endif %}>
                Bags
            </option>

            <option value="books"
                {% if category == "books" %}selected{% endif %}>
                Books
            </option>

            <option value="keys"
                {% if category == "keys" %}selected{% endif %}>
                Keys
            </option>

            <option value="clothing"
                {% if category == "clothing" %}selected{% endif %}>
                Clothing
            </option>

            <option value="id_cards"
                {% if category == "id_cards" %}selected{% endif %}>
                ID / Cards
            </option>

            <option value="other"
                {% if category == "other" %}selected{% endif %}>
                Other
            </option>

        </select>

        <input
            type="text"
            name="location"
            placeholder="Location"
            value="{{ location }}"
        >

        <button type="submit">Search</button>

    </form>

    <hr>

    {% if items %}

        {% for item in items %}

            <div>

                <h3>{{ item.name }}</h3>

                <p>
                    Category: {{ item.category }}
                </p>

                <p>
                    Location: {{ item.location }}
                </p>

                <p>
                    Status: {{ item.status }}
                </p>

                <a href="{{ url_for('main.item_detail', item_id=item.id) }}">
                    View Details
                </a>

            </div>

            <hr>

        {% endfor %}

    {% else %}

        <p>No lost items found.</p>

    {% endif %}

{% endblock %}