{% extends "base.html" %}

{% block title %}Report Item{% endblock %}

{% block content %}

    <h1>Report Lost / Found Item</h1>

    <form method="POST">

        {{ form.hidden_tag() }}

        <p>
            {{ form.name.label }}
            <br>
            {{ form.name() }}
        </p>

        <p>
            {{ form.category.label }}
            <br>
            {{ form.category() }}
        </p>

        <p>
            {{ form.location.label }}
            <br>
            {{ form.location() }}
        </p>

        <p>
            {{ form.description.label }}
            <br>
            {{ form.description(rows=5) }}
        </p>

        <p>
            {{ form.type.label }}
            <br>
            {{ form.type() }}
        </p>

        <p>
            {{ form.submit() }}
        </p>

    </form>

{% endblock %}